:root{
    --main-color : #212121;
    --secondary-color: #262626;
    --dark-color: #01060A;
    --darker-color: #1d1d1d;
    --w-color: #fff;
    --o-color: #DC9908;
    --lighter-color: #9A9996;
    --g-color: #585858;
}
body{
    font-family: "Cairo";
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
    overflow: hidden;
}